---
---
@import "portfolYOU";

#attribution { 
  display: none; 
}

@media (max-width: 768px) {
  div.certs { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  div.certs img { 
    max-width: 48%; 
    margin: 5px; 
  }
}